doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // FB
    meta(property='og:url', content='https://pickachu1006.github.io/travel/')
    meta(property='og:type', content='website')
    meta(property='og:title', content='颱風防災資訊平台')
    meta(property='og:description', content='防災災情及相關諮詢電話：87863119分機8900-8907')
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='630')
    meta(property='og:image', content='images/banner.png')

    // iPhone and iPod Touch (None Retina Display)
    link(href='apple-icon-57x57.png', rel='apple-touch-icon-precomposed', sizes='57x57')

    // iPad (None Retina Display)
    link(href='apple-icon-72x72.png', rel='apple-touch-icon-precomposed', sizes='72x72')

    // iPhone and iPod Touch (Retina Display)
    link(href='apple-icon-114x114.png', rel='apple-touch-icon-precomposed', sizes='114x114')

    // iPad (Retina Display)
    link(href='apple-icon-144x144.png', rel='apple-touch-icon-precomposed', sizes='144x144')

    // IE
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    title 颱風防災資訊平台
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    link(rel='stylesheet', href='css/all.css')
  body
    .container-fluid.px-0.one-page
      .header
        .banner
          .title-name
            h1 颱風防災資訊平台
          form.filter(action='index.html')
            select#zone(name='place')
        .info
          p 防災災情及相關諮詢電話：87863119分機8900-8907
      .main
        .place-name.my-4
        .container
          .table-responsive-md
            table.table.table-hover
              thead
                tr
                  th(scope='col').time 時間
                  th(scope='col').zone 區域
                  th(scope='col').descrip 描述
                  th(scope='col').place 位置
                  //- th.text-center(scope='col') 地圖
                  
              tbody.detail
      .footer.mt-auto
        p(style='color:white') 颱風防災資訊平台
        p(style='color:#FFD366') 資料來源：臺北市政府 消防局EOC 開放資料專區
    .container.d-none.two-page
      .card.mt-3
        .card-header.text-center
          | 
        .card-body.text-center
          #map
        .card-footer
          .btn.btn-primary.d-block.home-link(href='#') 回上頁
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAlziAsVbgC-eigXFXrPTeIc-PcW2fW9XU&callback=initMap')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js', integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T', crossorigin='anonymous')
    script(src='js/all.js')
